<div class="content">
    <h1>Product List:</h1>
    <div id="listaProductosHome" class="product-list">
        {{#each products}}
        <div class="product-box">
            <h2>{{this.title}}</h2>
            <p>Description: {{this.description}}</p>
            <p>Price: ${{this.price}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>Code: {{this.code}}</p>
            <div class="buttons-to-cart" id={{this._id}}>
                <button class="add-prod" name={{this._id}}>+</button>
                <button class="rem-prod" name={{this._id}}>-</button>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="buttons-for-pages">
        {{#if prevLink}}
            <a class="button prev-page" href={{prevLink}}><</a>
        {{/if}}
        {{#if nextLink}}
            <a class="button next-page" href={{nextLink}}>></a>
        {{/if}}
    </div>
</div>